custom-scrollbar()
	&::-webkit-scrollbar
		width 7px
		height 7px

	&::-webkit-scrollbar-track
		background-color #D9D9D9
		border-radius $border-radius-circle

	&::-webkit-scrollbar-thumb
		border none
		border-radius $border-radius-circle
		background-color $color-ui
		background-clip content-box
