.layout__preloader
	width 100%
	height 100%
	min-height 100vh
	flex-center()

	&-container
		position relative
		flex-center()
		flex-direction column
		loading()
		height 300px
		width 360px
		border-radius $border-radius-big
		box-shadow $box-shadow

	&-logo
		position absolute
		top $gap-big
		left auto
		right auto
		width 105px

	&-title
		font-size 16px
		font-weight $bold
		color $color-text

	&-subtitle
		font-size 13px
		color $color-text-secondary
		margin-top 4px

	& svg&-logo, & svg&-logo path
		opacity 1
