.layout
	display flex
	flex-direction column
	background-color $color-background-main
	min-height 100vh
	overflow hidden

	&__container
		width 1300px
		margin-left auto
		margin-right auto

	&__navigation
		margin-bottom $gap-big

	&__header &__container
		display flex
		flex-direction column
		height 100%

	&__content
		width 100%
		display flex
		flex-direction column
		margin $gap 0
