.calculator__preview
	width 100%
	height 100%
	display flex
	justify-content flex-start
	align-items center

	&-container
		display flex
		flex-direction column
		width 300px

		& > .ui-input:not(:first-child)
			margin-top $gap
