@media screen and (max-width: 720px)
	.calculator__signatory
		&, &-fields
			& .ui-input,
			& .ui-select,
			& .ui-date-picker
				min-width 48%
				max-width 48%

		&-additional
			& .ui-input,
			& .ui-select,
			& .ui-date-picker
				min-width 100%
				max-width 100%

		& &-long.ui-input
			min-width 100%
			max-width 100%
