.calculator__risk
	display flex
	flex-direction column
	row-gap $gap-small
	column-gap $gap-small
	max-width 100%

	&-subtitle
		width 100%
		font-size 14px
		font-weight $medium

	&-results
		display flex
		row-gap $gap-small
		column-gap $gap-small
		width 100%

	&-buttons
		display flex
		row-gap $gap-small
		column-gap $gap-small
		margin-top $gap-small

	&-offer
		background-color $color-ui-shadow
		border-color $color-ui-hover
