.calculator__price
	display flex
	flex-wrap wrap
	row-gap $gap-small
	column-gap $gap-small
	max-width 650px

	&-row
		width 100%
		display flex
		align-items center
		justify-content flex-start
		row-gap $gap-small
		column-gap $gap-small

		& .ui-input
			margin-right $gap

	& .ui-input, & .ui-input-number, & .ui-select
		max-width 48%

	& .ui-input-number
		&__info
			font-size 10px
