.calculator__registration-additional
	display flex
	flex-wrap wrap
	justify-content flex-start
	align-items flex-start
	row-gap $gap-small
	column-gap $gap-small
	max-width 920px

	& .ui-input, & .ui-select, & .ui-date-picker
		max-width 31.6%

		&._long
			max-width 63.6%
