@media screen and (max-width: 960px)
	.calculator-kasco__main
		margin-top $gap-small

		&-info
			margin-left 0

		&-list, &-info
			& .ui-input, & .ui-select, & .ui-date-picker, & .ui-checkbox
				max-width 49%
				min-width 49%

			&._long
				max-width 100%
				min-width 100%
