.calculator__territories
	display flex
	flex-direction column
	row-gap $gap-small
	column-gap $gap-small
	max-width 100%
	padding-bottom $gap-small

	&-buttons
		display flex
		row-gap $gap-small
		column-gap $gap-small
		justify-content flex-start
		align-items flex-start
		flex-wrap wrap
