// Ant-design styles
@require "../../../node_modules/ant-design-vue/dist/antd.min.css"

// Mixins
@require "mixins/*.styl"

// Base
@require "base/variables.styl"
@require "base/normalize.styl"
@require "base/base.styl"

// Ant-design rebase styles
@require "ant-design/ant-design.styl"

// Ui-kit
@require "ui-kit/index.styl"
@require "ui-kit/ui-markdown.styl"

// Transitions
@require "transition/*.styl"

// Animations
@require "animation/*.styl"

// Layout
@require "layout/layout.styl"
@require "layout/layout-header.styl"
@require "layout/layout-footer.styl"
@require "layout/layout-preloader.styl"
@require "layout/layout-demo.styl"
@require "layout/layout(1400px).styl"
@require "layout/layout-header(1250px).styl"

// Error
@require "error/error.styl"

// Error
@require "auth/auth.styl"

// Page | index
@require "index/index.styl"
@require "index/index-insurance.styl"
@require "index/index(1000px).styl"

// Calculator
@require "calculator/calculator.styl"
@require "calculator/calculator-block.styl"
@require "calculator/calculator-info.styl"
@require "calculator/calculator-total.styl"
@require "calculator/calculator-intro.styl"
@require "calculator/calculator-insurer.styl"
@require "calculator/calculator-passport.styl"
@require "calculator/calculator-foreigner.styl"
@require "calculator/calculator-payment.styl"
@require "calculator/calculator-packages.styl"
@require "calculator/calculator-price.styl"
@require "calculator/calculator-contract.styl"
@require "calculator/calculator-placement.styl"
@require "calculator/calculator-signatory.styl"
@require "calculator/calculator-bank.styl"
@require "calculator/calculator-preview.styl"
@require "calculator/calculator-object.styl"
@require "calculator/calculator-description-object.styl"
@require "calculator/calculator-responsibility.styl"
@require "calculator/calculator-company-address.styl"
@require "calculator/calculator-motor.styl"
@require "calculator/calculator-markdown.styl"
@require "calculator/calculator-cars.styl"
@require "calculator/calculator-cars-detail.styl"
@require "calculator/calculator-kasco-main.styl"
@require "calculator/calculator-kasco.styl"
@require "calculator/calculator-osago.styl"
@require "calculator/calculator-owner.styl"
@require "calculator/calculator-results.styl"
@require "calculator/calculator-policyholder.styl"
@require "calculator/calculator-parent.styl"
@require "calculator/calculator-approvement.styl"
@require "calculator/calculator-files.styl"
@require "calculator/calculator-risk.styl"
@require "calculator/calculator-beneficiary.styl"
@require "calculator/calculator-fertility.styl"
@require "calculator/calculator-territories.styl"
@require "calculator/calculator-territory.styl"
@require "calculator/calculator-assets.styl"
@require "calculator/calculator-asset.styl"
@require "calculator/calculator-summary.styl"
@require "calculator/calculator-agro.styl"
@require "calculator/calculator-agro-files.styl"
@require "calculator/calculator-registration-additional.styl"
@require "calculator/calculator(1100px).styl"
@require "calculator/calculator-info(1100px).styl"
@require "calculator/calculator-kasco-main(960px).styl"
@require "calculator/calculator-owner(920px).styl"
@require "calculator/calculator-results(920px).styl"
@require "calculator/calculator-insurer(820px).styl"
@require "calculator/calculator-beneficiary(820px).styl"
@require "calculator/calculator-kasco-main(730px).styl"
@require "calculator/calculator-passport(720px).styl"
@require "calculator/calculator-foreigner(720px).styl"
@require "calculator/calculator-signatory(720px).styl"
@require "calculator/calculator-company-address(720px).styl"
@require "calculator/calculator-owner(720px).styl"
@require "calculator/calculator-contract(720px).styl"
@require "calculator/calculator-bank(720px).styl"
@require "calculator/calculator-kasco(720px).styl"
@require "calculator/calculator-insurer(600px).styl"
@require "calculator/calculator-passport(600px).styl"
@require "calculator/calculator-foreigner(600px).styl"
@require "calculator/calculator-signatory(600px).styl"
@require "calculator/calculator-contract(600px).styl"
@require "calculator/calculator-parent(600px).styl"
@require "calculator/calculator-bank(600px).styl"
@require "calculator/calculator-company-address(600px).styl"

// Profile
@require "profile/profile.styl"
@require "profile/profile-block.styl"
@require "profile/profile-avatar.styl"
@require "profile/profile-block(1400px).styl"
@require "profile/profile(1100px).styl"
@require "profile/profile-avatar(1100px).styl"
@require "profile/profile-block(700px).styl"

// Archive
@require "archive/archive.styl"

// Landing
@require "landing/landing.styl"
